.sessions {
  &__content {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      align-items: center;
    }
  }

  &__list {
    padding-left: 24px;

    &-title {
      font-family: $secondary-font;
      font-size: 24px;
      font-weight: 300;
      line-height: 28.8px;
      margin-bottom: 16px;
      color: $white;

      @media (min-width: 768px) {
        margin-bottom: 24px;
      }
    }

    &-item {
      font-family: $secondary-font;
      font-size: 18px;
      font-weight: 300;
      line-height: 25.2px;
      color: $mainText;

      &:not(:last-child) {
        margin-bottom: 12px;

        @media (min-width: 768px) {
          margin-bottom: 24px;
        }
      }

    }
  }

  &__image-wrapper {
    margin: 24px 0;

    @media (min-width: 768px) {
      flex: 40%;
      margin: 0 24px;
    }
  }

  &__image {
    width: 100%;
  }
}
