.transform-program {

  &__head {
    margin-bottom: 24px;

    @media (min-width: 1200px) {
      margin-bottom: 64px;
    }
  }

  &__content {
    margin-bottom: 24px;

    @media (min-width: $mediaTablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
    }
  }

  &__image {
    width: 100%;

    @media (min-width: $mediaDesktop) {
      height: 100%;
    }
  }

  &__text {
    width: 100%;
    padding: 16px;
    margin-top: 24px;
    background-color: $defaultGrey;
    border-radius: 16px;

    @media (min-width: $mediaTablet) {
      margin-top: 0;
      padding: 24px;
    }
  }

  &__description,
  &__list-item {
    font-family: $secondary-font;
    font-weight: 300;
    font-size: 18px;
    line-height: 25.2px;
    color: $grayLight;
  }

  &__description {
    margin-bottom: 24px;
  }

  &__list {
    padding-left: 24px;

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &.list-line {
      display: block;

      @media (min-width: $mediaTablet) {
        display: flex;
        justify-content: space-between;

        .transform-program__list-item {
          &:not(:last-child) {
            margin-bottom: 0;
          }
        }
      }
    }

    &-subtitle {
      margin-bottom: 12px;
      font-weight: 400;
      color: $white;
    }

    &-title {
      margin-bottom: 16px;
      font-family: $primary-font;
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
      color: $white;
    }

    &-item {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}
