* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.section {
  &-padding {
    padding: 36px 0 36px;

    @media (min-width: $mediaDesktop) {
      padding: 76px 0 76px;
    }
  }

  &__head {
    margin-bottom: 32px;

    @media (min-width: $mediaDesktop) {
      margin-bottom: 64px;
    }
  }

  &__title {
    font-family: $primary-font;
    font-weight: 400;
    font-size: 32px;
    line-height: 38.4px;
    margin-bottom: 16px;
    text-align: center;

    @media (min-width: $mediaTablet) {
      margin-bottom: 24px;
      font-size: 46px;
    }

    @media (min-width: $mediaDesktop) {
      font-weight: 400;
      font-size: 48px;
    }
  }

  &__subtitle {
    max-width: 624px;
    margin: 0 auto;
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 25.2px;
    color: $mainText;
    text-align: center;
  }
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;

  @media (min-width: $mediaDesktop) {
    margin-top: 48px;
  }
}

.btn {
  padding: 16px 24px;
  width: 100%;
  min-width: 190px;
  height: 58px;
  border: none;
  border-radius: 56px;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 18px;
  line-height: 25.2px;
  color: $white;

  transition: ease .3s;
  cursor: pointer;

  @media (min-width: $mediaTablet) {
    width: fit-content;
  }

  &:hover {
    color: $white;
  }
}

.primary-button {
  background-color: $primaryBlue;

  &:hover {
    background-color: $primaryBlueHover;
  }
  &:focus {
    background-color: $primaryBlueFocus;
  }
}

.secondary-button {
  background-color: transparent;
  border: 2px solid $mainText;

  @media (min-width: $mediaTablet) {
    width: fit-content;
  }

  &:hover {
    border-color: $mainText;
  }
  &:focus {
    border-color: $white;
  }
}

.slick {
  &-slider {
    min-width: 0;
  }

  &-list {
    overflow: hidden;
  }

  &-track{
    display: flex;
    align-items: flex-start;
  }
}

.image-wrapper {
  border-radius: 16px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.custom-li {
  position: relative;
  padding-left: 28px;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
  &::before {
    content: '';
    position: absolute;
    left: 9px;
    top: 9px;
    width: 6px;
    height: 6px;
    background-color: $grayLight;
    border-radius: 50%;
  }
}

.header,
.footer {
  height: 48px;
  background-color: $mainBlack;
  text-align: center;
  align-content: center;
}
