$primary__font-path: './../../fonts/cormorant_infant';
$secondary__font-path: './../../fonts/сirce';

@font-face {
  font-family: 'Cormorant Infant';
  src: url('#{$primary__font-path}/cormorant_infant_regular.woff') format('woff'),
  url('#{$primary__font-path}/cormorant_infant_regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Infant';
  src: url('#{$primary__font-path}/cormorant_infant_medium.woff') format('woff'),
  url('#{$primary__font-path}/cormorant_infant_medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Infant';
  src: url('#{$primary__font-path}/cormorant_infant_semibold.woff') format('woff'),
  url('#{$primary__font-path}/cormorant_infant_semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Infant';
  src: url('#{$primary__font-path}/cormorant_infant_italic.woff') format('woff'),
  url('#{$primary__font-path}/cormorant_infant_italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Circe';
  src: url('#{$secondary__font-path}/circe_light.woff') format('woff'),
  url('#{$secondary__font-path}/circe_light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('#{$secondary__font-path}/circe_regular.woff') format('woff'),
  url('#{$secondary__font-path}/circe_regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
