$black: #000;
$white: #fff;
$primary-blue: #005B8D;
$primary-blue-hover: #074A73;
$primary-blue-focus: #006BAA;
$gray-light: #868F9B;
$gray-extra-light: #D2D9E1;
$gray-neutral: #323A45;
$gray-secondary: #101418;
$media-tablet: 768px;
$media-desktop: 1200px;
