$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1440px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1280px
);

$primary-font: 'Cormorant Infant';
$secondary-font: 'Circe';

$mainBlack: #030405;
$secondBlue: #042F4C;
$primaryBlue: #005B8D;
$primaryBlueHover: #074A73;
$primaryBlueFocus: #006BAA;
$defaultGrey: #101418;
$grayBG: #323A45;
$grayLight: #868F9B;
$mainText: #D2D9E1;
$secondText: #F3F5F6;
$white: #fff;
$mainText: #D2D9E1;
$mediaTablet: 768px;
$mediaDesktop: 1200px;

$transition: 0.30s ease;
